/* Main edits */
body {
  color: #ccc;
  background: rgb(8,8,8);
  background: linear-gradient(90deg, rgba(8,8,8,1) 0%, rgba(27,27,27,1) 35%, rgba(45,45,45,1) 100%);
}
.text-logo {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
  font-size: 16px;
}
.primary {
  color: #ffd000;
}
a:hover {
  color: #ffd000;
}
/* Social media buttons */
.btn a:hover{
  color: #fff;
}
.btn-twitch {
  color: #fff;
  background-color: #8000ff;
}
.btn-twitter {
  color: #fff;
  background-color: #00baff;
}
.btn-tumblr {
  color: #fff;
  background-color: #325287;
}
.btn-github {
  color: #fff;
  background-color: #000000;
}
.btn-paypal {
  color: #fff;
  background-color: #002c82;
}
/* Responsive Logo */
@media screen and (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
  }
}
/* Responsive Carousel */
.carousel-item {
  background-size:cover !important;
  background-position:center !important;
}
